# Игнорируем папки bin и obj
bin/
obj/
.vs

# Игнорируем файлы настроек среды разработки
*.csproj.user
*.suo
*.vscode/
*.idea/

# Игнорируем временные файлы и резервные копии
*.tmp
*.bak
*.log

# Игнорируем файлы сборки
*.dll
*.exe
*.pdb

# Игнорируем все, что связано с пользовательскими настройками
*.userprefs

# Игнорируем профили публикации (важно добавить!)
Properties/PublishProfiles/
**/Properties/PublishProfiles/

# Игнорируем папку publish (если вы публикуете локально)
publish/
**/publish/

# Игнорируем файлы конфигурации публикации (дополнительная страховка)
*.pubxml
*.pubxml.user